*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#firstReview{
    width:100%;
    height: auto;
    /* border:1px solid red; */
    background-color: rgb(24,57,98);
    margin:auto;
    /* text-align: center; */
}
#firstReview>div{
    height: auto;
    width:80%;
    /* border:1px solid blue; */
    display:flex;
    margin:auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:30px;
}
#firstReview>div>div{
    /* width: 48%; */
    text-align: center;
    margin:auto;
    /* border:1px solid red; */
}
#firstReview>div>div:nth-child(1){
   flex-basis:48%;
    margin-left:200px;
}
#firstReview>div>div:nth-child(1)>p{
    color:white;
}
#firstReview>div>div:nth-child(1)>p:nth-child(2){
    color: orange;
}
#firstReview>div>div:nth-child(2)>img{
  width: 200px;
  margin-left: -300px;
}
#firstReview>div>div:nth-child(1)>p:nth-child(2):hover{
    cursor:pointer
}
/* weighloss starts */
#weightLossPr{
    height: auto;
    width:100%;
    /* border:1px solid red; */
    padding:50px;
    background-color: rgb(101,212,252);
}
#weightLossPr>h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    color:rgb(24,57,98);
    margin-bottom: 80px;
}
#weightLossPr>div>div:nth-child(1){
    display: flex;
    margin:auto;
    margin-bottom:80px;
 /* height: 300px; */
    width:60%;
    justify-content: space-between;
}
#weightLossPr>div>div:nth-child(1)>img{
    width:100px;
    height:100px
}
#weightLossPr>div>div:nth-child(2){
    display: flex;
    margin:auto;
    /* height: 300px; */
    width:60%;
    justify-content: space-between;
    /* border:1px solid red; */
}
#secondReview{
    height: auto;
    width: 100%;
    /* border:1px solid red; */
  background-color:rgb(241,241,241);
}
#secondReview>div{
    height: 300px;
    width: 60%;
    /* border:1px solid blue; */
    margin:auto;
    display: flex;
    /* justify-content: space-evenly; */
}
#secondReview>div>div{
    margin: auto;
}
#secondReview>div>div:nth-child(1)>img{
 width:200px;
}
#secondReview>div>div:nth-child(2)>p{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 text-align: center;
}
/* here ends reviews section */
/* premium section css starts */
#whyDr{
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: bold; */
    color:#183962;
    margin-bottom:50px;
}
#ratingsDiv{
    height: 300px;
    width:60%;
    /* border:1px solid red; */
    margin:auto;
    display: flex;
}
#ratingsDiv>div>img{
    width:100px;
}
#ratingsDiv>div{
    height:200px;
    width: 15%;
    margin:auto;
    /* border:1px solid red; */
}
#ratingsDiv>div>h2{
    color:rgb(24,57,98);
    font-family: bold;
    text-align: center;
}
#ratingsDiv>div>p{
    margin:-20px;
    text-align: center;
    font-size: 12px;
    color:rgb(24,57,98);
}
#ratingsDiv+div{
    /* border:1px solid red; */
    text-align: center;
    margin-bottom:70px;
    /* border-color:white; */
}
#ratingsDiv+div>button{
    padding:15px 80px;
    background-color: orange;
    border-radius: 5px;
    color:white;
    border: none;
}
#ratingsDiv+div>button:hover{
    cursor:pointer;
}
#ratingsDiv+div+div{
height:auto;
width: 30%;
/* border:1px solid red; */
display: flex;
margin:auto;
justify-content: space-evenly;
padding:10px;
}
#ratingsDiv+div+div>div:nth-child(1){
background-color: rgb(241,241,241);
color:rgb(24,57,98);
}
#ratingsDiv+div+div>div:nth-child(2){
    background-color:rgb(24,57,98);
    color:white;
}
#ratingsDiv+div+div>div{
    width:50%;
    /* border:1px solid blue; */
    padding:10px;
    text-align: center;
    margin-bottom: -15px;
}
#ratingsDiv+div+div>div>p{
    text-align: center;
    font-size: 14px;
    margin-top:-22px;
    font-family: Arial, Helvetica, sans-serif;
}
#ratingsDiv+div+div>div>h3{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
#ratingsDiv+div+div>div:hover{
    cursor:pointer;
}
/* ratings section is till here */
#thpremium{
    height: 700px;
    width: 100%;
    border:0px solid red;
    background-color: rgb(24,57,98);
  }
  #thpremium>div:nth-child(1){
      /* text-align: center; */
      color:orange;
      width:55%;
      margin:auto
  }
  #thpremium>div:nth-child(1)>h1{
      text-align: center;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
     
  }
  #thpremium>div:nth-child(2){
      margin: auto;
      width:55%;
  }
  #thpremium>div:nth-child(2)>p{
      text-align: center;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      color:white;
      letter-spacing: normal;
  }
  #thpremium>div:nth-child(3){
      height: 150px;
      width:80%;
      margin:auto;
      display:flex;
      justify-content: space-between;
      border:0px solid red;
      margin-top:80px;
      /* text-align: center; */
  }
  #thpremium>div:nth-child(3)>div>p{
      color:white;
  }
  #thpremium>div:nth-child(3)>div:nth-child(1){
    width:150px;
    border:0px solid orange;
  }
  #thpremium>div:nth-child(3)>div:nth-child(1)>p{
      text-align: center;
  }
  #thpremium>div:nth-child(3)>div>img{
      width:100px;
  }
  #thpremium>div:nth-child(4){
      height: 150px;
      width:60%;
      border:0px solid green;
      margin:auto;
      display:flex;
      justify-content: space-between;
      margin-top: 40px;
  }
  #thpremium>div:nth-child(4)>div>p{
      color:white;
  }
  #thpremium>div:nth-child(4)>div:nth-child(4){
  width:120px;
  text-align: center;    
  }
  #thpremium>div:nth-child(4)>div>img{
      width:100px;
  }
  #thpremium>div:nth-child(5){
      text-align: center;
      /* margin:auto; */
      border:0px solid red;
      margin-top:20px;
      /* border-radius: 10px; */
      /* border-color: rgb(24,57,98); */
  
  }
  #thpremium>div:nth-child(5)>button{
      padding:15px 40px;
      color:white;
      font-size:14px;
      border-radius: 5px;
      border-color: rgb(24,57,98);
      background-color: orange;
      font-family: Arial, Helvetica, sans-serif;
  }
  #thpremium>div:nth-child(5)>button:hover{
      cursor: pointer;
  
  }
/* premium section css part ends here   */
/* image slides starts here */
.carousel{
    height: 250px;
    width: 50%;
    border:0px solid red;
    margin:auto;
    margin-top:20px;
    margin-bottom: 30px;
 }
#thslidehead1{
 text-align: center;
 color:rgb(24,57,98);
}
#thslidehead1+p{
  text-align: center;
}
.carousel-cell {
  width: 33%;
  border:0px solid blue;
  /* margin:auto; */
  }
 .carousel-cell>p{
  text-align: center;
  color:rgb(24,57,98);
 }
 .carousel-cell>p:hover{
  color:orange;
 }
  .carousel-cell:before {
    display: block;
   }
   /* image sliding css completes here */
#thLastheading{
    color: #183962;
    text-align: center;
}
#corousels{
    height: 250px;
    width:40%;
    border:0px solid red;
    margin:auto;
    background-color: rgb(241,241,241);
    margin-bottom: 50px;
    padding:40px 0px 40px 0px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 30px;
}
#corousels>div{
    text-align: center;
}
#corousels>div>p:nth-child(3):hover{
 cursor: pointer;
}
#corousels>div>img{
    width: 100px;
}
/* here background with icons starts */
#thBackground{
    height: 300px;
    width: 100%;
    border:0px solid red;
    /* margin-top:50px; */
    padding:60px;
    background-color: rgb(241,241,241);
    background-image: url(https://assets.loseit.com/website/home/Pattern_50opacity_Long.svg);
    background-position: top-left;
    background-size: cover;
}
#thBackground>div>h4{
    text-align: center;
    color:rgb(253,138,37);
    font-family: Arial, Helvetica, sans-serif;
}
#thBackground>div:nth-child(2){
    /* margin:auto; */
    text-align: center;
    /* display: flex; */
    border:0px solid blue;
    margin-top: 40px;
}
#thBackground>div>img{
    width:200px;
    /* display: flex; */
}
/* footer section starts here */
#thcontainer{
  height: auto;
  width:100%;
  border:0px solid red;  
  background-color: rgb(24,57,98);
  padding:40px;
}
#thLogo{
    border:0px solid red;
    width: 15%;
    text-align: center;
    display: flex;
    /* text-align: center; */
    margin:auto;
}
#thLogo>div:nth-child(1)>img{
    border:0px solid green;
    width: 100px;
}
#thLogo>div:nth-child(2){
    /* display:flex;
    align-content: center; */
    margin-top: 30px;
    margin-left:-10px;
}
#thLogo>div:nth-child(2)>p{
    color:white;
    border:0px solid pink;
}
#thLogo>div:nth-child(2)>p:nth-child(2){
    font-size: 8px;
}
/* #thcontainer>div:nth-child(1)>img:hover{
color:grey;
} */
#thcontainer>div:nth-child(2){
height: auto;
width:50%;  
display: flex;
margin:auto;  
border:0px solid red;
justify-content: space-between;
}
#thcontainer>div:nth-child(2)>div{
    height: auto;
    width:23%;
    /* font-weight: bold; */
    cursor:pointer;
    border:0px solid blue;
    margin:auto;
    color:white;
}
#thcontainer>div:nth-child(2)>div>p{
    font-family:Arial, Helvetica, sans-serif;
}
#thcontainer>div:nth-child(2)>div>p:hover{
    color:grey;
}
#thcontainer>div:nth-child(3){
height:auto;
width:25%;
border:0px solid red;
display: flex;
margin:auto;
margin-top: 40px;
margin-bottom: 40px;
}
#thcontainer>div:nth-child(3)>div{
    width:20%;
    height: auto;
    border:0px solid blue;
    color:white;
}
#thcontainer>div:nth-child(3)>div:hover{
    color:orange;
}
#thcontainer>div:nth-child(4){
    /* width:30%; */
    border:0px solid red;
    width:30%;
    margin:auto;
    /* margin-bottom:40px; */
}
#thcontainer>div:nth-child(4)>p{
    text-align: center;
    border:0px solid blue;
    font-family:  Arial, Helvetica, sans-serif;;
    color:white;
    margin:-5px;
}
#thcontainer>div:nth-child(4)>p~p:hover{
 color:grey;
 cursor:pointer;
}
#thcontainer>p{
    border:0px solid red;
    text-align: center;
    color:white;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
}


