*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#nav{
    width: 1582px;
    height: 80px;
}
#nav>img{
    width: 230.55px;
    height: 80px;
}
#main{
    width: 1583px;
    height: 475px;
    background-image: url(https://assets.loseit.com/website/onboarding/Wave.svg);
    /* display: flex; */
    justify-content: center;
    background-image: url(https://assets.loseit.com/website/onboarding/Wave.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% auto;
    background-position: bottom center;
    padding-bottom: 100px;
    height: 100vh;
}
#boxform{
    width: 500px;
    height: 600px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    font-family:Avenir,"Helvetica Neue", sans-serif;
    font-size: 20px;
    color: #173962;
}
#boxform>a>h2{
    margin-left: -450px;
    margin-top: -20px;
    color: #173962;
}
#boxform>h2{
    margin-top: 5px;
    margin-bottom: 20px;
}
#boxform>input{
    height: 35px;
    width: 50%;
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
}
#boxform>p{
    width: 60%;
    font-size: 15px;
    color:black;
    margin: auto;
}
#btn{
    width: 60%;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    background-color: #ff9400;
    border: none;
    border-radius: 5px;
}
#footer2{
    margin-top: -40px;
}

@media all and (min-width:1001px) and (max-width:1100px){
    #main{
        width: 100%;
        height: auto;
    }
    #nav{
        width: 100%;
    }
    
    
}
@media all and (min-width:571px) and (max-width:1000px){
    #main{
        width: 100%;
        height: auto;
        text-align: center;
    }
    #nav{
        width: 100%;
    }
    #centre{
        position: relative;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }
    #stepimg{
        display: none;
    }
    #stepdiv{
        height: auto;
    }
}
@media all and (min-width:350px) and (max-width:571px){
    #main{
        width: 100%;
        height: auto;
        text-align: center;
    }
    #nav{
        width: 100%;
    }
    #centre{
        position: relative;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }
    #stepimg{
        display: none;
    }
    #stepdiv{
        height: auto;
    }
    .step{
        width: 100%;
    }
    #boxform{
        width: 100%;
    }
}