#main{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    height: auto;
    display: flex;
    gap: 8%;
}
#add_details{
    flex: 5;
    border: 1px solid red;
    height: 600px;

}
#calculation{
    flex: 4;
    border: 1px solid red;
    height: 600px;
}
 #details{
    width: 70%;
    border: 0px solid green;
    height: 5%;
   /* display: grid;
     grid-template-columns: repeat(2,1fr); 
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

#details>div{
    border: 1px solid rgb(93, 93, 95);
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
#details>div:nth-child(1){
    display: grid;
    grid-template-columns: 20% 60% 15%;
    gap: 2%; 
    background-color: rgb(236, 233, 233);

}
#details>div:nth-child(1)>div{
    border: 0px solid pink;
}

#details>div:nth-child(1)>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
}
#details>div:nth-child(1)>div:nth-child(3){
    display: flex;
    align-items: center;
}
#details>div:nth-child(1)>div:nth-child(3)>img{
    width: 100%;
    height: 50%;
    
}
#details>div:nth-child(1)>div:nth-child(2){
    
    text-align: center;
    /* background-color: aqua;  */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#details>div:nth-child(2){
    display: grid;
     grid-template-columns: 20% 70% ; 
     gap: 5%;  
    background-color: rgb(236, 233, 233);
    
}
#details>div:nth-child(2)>div{
    border: 0px solid pink;
}

#details>div:nth-child(2)>div:nth-child(1)>img{
width: 100%;
height: 100%;
}
#details>div:nth-child(2)>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}

#food{
    width: 35%;
    /* height: 200px;
    border: 1px solid red; */
    margin-top: 2%;
}
/* test 
#content{
    background-color: yellow;
}
#content>div{
    border: 3px solid green;
    height: 40px;
    width: 100px;
}
#content>div{
    display: grid;
     grid-template-columns: 20% 70% ; 
     gap: 5%;  
    background-color: rgb(236, 233, 233);
}
#content>div>div{
    border: 2px solid rgb(123, 192, 44);
    height: 100%;
    background-color: red;
}
#content>div>div img{
    width: 100%;
}
#dropdown-container{
    background-color: black;
}
#dropdown-container div{
    float: auto;
} */
