*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#nav{
    width: 1200px;
    height: 110.23px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
#main{
    width: 1583px;
    height: 600px;
    background-image: url(https://assets.loseit.com/website/home/Wave.png),linear-gradient(90deg, rgba(245, 128, 30, 1) 0, rgba(246, 146, 29, 1) 100%);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: top, bottom;
    padding: 50px 0px; 
    box-sizing: border-box;
    display: flex;
}
#logo>img{
    width: 200px;
    height: 80.23px;
    
}
#login>button{
    background-color: orange;
    padding: 10px 40px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 400;
}
#mobile{
    width:247.06px ;
    height: 500px;
    margin-left: 390px;

}
#main>div{
    width: 468.2px;
    height: 500px;
    margin: 0px 0px 0px 100px;
    box-sizing: border-box;
}
#top{
    font-size: 50px;
    width: 468.2px;
    height:  120px;
    font-family: Avenir,"Helvetica Neue", sans-serif;
    color: #455555;
    font-weight: 900;
    margin-bottom: 40px;
}
#track{
    font: 20px Avenir, "Helvetica Neue", sans-serif;
    /* font-size: 20px; */
    font-weight: 400;
    /* font-family: Avenir, "Helvetica Neue", sans-serif; */
    color: #808284;
    margin-bottom: 40px;
}
#signupbutton>button{
    padding: 15px 25px;
    font-size: 20px;
    color:#fff;
    background-color: #183962;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;

}
#applelogo{
    color: grey;
    font-size: 30px;
}
#androidlogo{
    color: grey;
    font-size: 30px;
}
.star{
    color: yellow;
    height: 80px;
    font-size: 30px;
    
}
#logo2{
    display: flex;
}
#logo2>div:nth-child(2){
    margin-left: 40px;
} 
#weightdiv{
    width: 1583px;
    height: 322.11px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
#weightdiv>p{
    color: #183962;
    font-size: 30px;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
#weightdiv>div{
    width: 1000px;
    height: 258.52px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.goal{
    width: 30%;
    height: 100%;
}
.goal>p:nth-child(1){
    font-size: 21px;
    font-family: Avenir, "Helvetica Neue", sans-serif;
    color:#ff9400;
    margin-bottom: 5px;
}
.goal>p:nth-child(3){
    font-size: 15.4px;
    font-family: Avenir, "Helvetica Neue", sans-serif;
    color:#808284;
    margin-bottom: 5px;
}
.goal>img{
    width: 140px;
    height: 140px;
}
#carousel{
    width: 1583px;
    height: 390px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
}
#lost{
    width: 1000px;
    height: 408.78px;
    margin: auto;
    text-align: center;
}
#lost>img{
    width: 230px;
    height: 220px;
}
#lost h1{
    font-size: 91px;
    color: #ff9400;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
#lost h2{
    font-size: 28px;
    color: #455555;
    font-family: Avenir, "Helvetica Neue", sans-serif;
    margin-top: 20px;
}
#line{
    width: 100px;
    height: 10px;
    background-color: #ff9400;
    margin: auto;
    margin-top: 18px;
}
#lost+h3{
    text-align: center;
    margin-top: 60px;
    font-size: 21px;
    color: #183962;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
#companylogo{
    width: 900px;
    height: 101.81px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#companylogo>img{
    width: 20%;
    height: 60%;
}
#member{
    width: 1583px;
    height: 552.92px;
    margin-top: 30px;
    background-color: #183962;
    box-sizing: border-box;
    padding: 40px 0px;
    text-align: center;
}
#member>h2{
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
#member>div{
    width:60%;
    height: 310px;
    margin-top: 20px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.story{
    width: 500px;
    height: 310px;
    box-sizing: border-box;
}
.story>p:nth-child(2){
    color: #ff9400;
    font-size: 18px;
}
.story>p:nth-child(3){
    color: white;
    font-size: 11.2px;
    margin-top: 10px;
}
.story>img{
    width: 200px;
    height: 200px;
}#share>button{
    padding: 10px 40px;
    background-color: #ff9400;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-family: Avenir, "Helvetica Neue", sans-serif;

}
#carousel{
    background-color: #f1f1f1 ;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;

}
#carousel>div:nth-child(1){
    margin: auto;
    width: 60%;
    height:70% ;
    margin-bottom: 20px;
}
.carouseldiv{
    width:100%;
    height: 100%;
    margin: auto;
}
#carouseldiv1{
    display: flex;
    justify-content: space-between;
}
#carouseldiv2{
   display: none;
   justify-content: none;
}
#carouseldiv3{
    display: none;
    justify-content: none;
}
.car{
    width: 45%;
    height: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.car>img{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}
.car>h2{
    color: #183962;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
.car>p{
    color:grey;
    font: 20px;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
#buttons{
    margin: auto;
}
#buttons>button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color:grey;
    border: none;
    margin-left: 4px;
}
#buttons>button:nth-child(1){
    background-color: blue;
}
#slider{
    width: 65%;
    height: 500px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
    font-family: Avenir, "Helvetica Neue", sans-serif;
}
#slider>h1{
    font-weight: 400;
    color: #183962;
}
#slider>p{
    font-weight: 400;
    color:grey;
    font-family: Avenir, "Helvetica Neue", sans-serif;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 50px;
}
#slidermain{
    width: 100%;
    height: 50%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
}
#btndiv1{
    width: 5%;
    font-size: 30px;
    padding-top: 70px;
    color: #ff9400;
}
#btndiv2{
    width: 5%;
    font-size: 30px;
    padding-top: 70px;
    color: #ff9400;
}
#sliderimage{
    width: 90%;
}
#sliderimage>div:nth-child(1){
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#sliderimage>div:nth-child(2){
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-between;
}
#sliderimage>div:nth-child(3){
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-between;
}
#sliderimage>div>div{
    width: 32%;
    height: 100%;
    justify-content: space-between;
}
#sliderimage>div>div>img{
    width: 100%;
    height: 70%;
}
#sliderimage>div>div>p{
    font-size: 16px;
    font-family: Avenir, "Helvetica Neue", sans-serif;
    color:grey;
    
}

#getweight{
    padding: 15px 25px;
    color: white;
    background-color: #183962;
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
#above_footer{
    background-color: #f1f1f1;
    background-image: url(https://assets.loseit.com/website/home/Pattern_50opacity_Long.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 253px;
    padding: 50px 0px 70px;
}
#above_footer{
    font-family: Avenir, "Helvetica Neue", sans-serif;
    color: #ff9400;
    font-size: 20px;
    text-align: center;
}
#above_footer>div{
    width: 25%;
    margin: auto;
    display: flex;
    height: 150px;
    justify-content: space-between;
}
#above_footer>div>div{
    width: 48%;
    height: 100%;
}
#above_footer>div>div>img{
    width: 100%;
    height: 100%;
}

@media all and (min-width:501px) and (max-width:1150px){
    #nav{
        width: 100%;
        padding:  0px 5px;
        
    }
    #main{
        width: 100%;
        
    }
    #mobile{
        margin-left: -30px;
    }
    #top{
        width: 100%;
        height:  auto ;
    }
    #main>div{
        margin: 0px 0px 0px 50px;
    }
    #logo2{
        display: none;
    }
    #weightdiv{
        width: 100%;
    }
    #weightdiv>div{
        width: 90%;
    }
    
    .goal{
        width: 80%;
        margin: auto;
        /* margin-bottom: 30px; */
    }
    #carousel{
        width: 100%;
        height: auto;
    }
    #lost{
        width: 100%;
    }
    #lost>img{
        width: 80%;
    }
    #companylogo{
        width: 100%;
    }
    #companylogo>img{
        width:20%;
    }
    #member{
        width: 100%;
    }
    #member>div{
        width:80%;
        gap: 20px;
    }
    #carouselmain{
        width: 80%;
        height: auto;
    }
    
} 

@media all and (min-width:350px) and (max-width:500px){
    #nav{
        width: 100%;
        padding:  0px 5px;
        
    }
    #main{
        width: 100%;
        
    }
    #main>div{
        margin: 0px 0px 0px 10px;
    }
    #mobile{
        margin-left: -60px;
    }
    #top{
        width: auto;
        height:  auto ;
    }
    #logo2{
        display: none;
    }
    #signupbutton>button{
        margin-top: -20px;
    
    }
    #weightdiv{
        width: 100%;
        height: auto;
    }
    #weightdiv>div{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .goal{
        width: 80%;
        margin: auto;
        /* margin-bottom: 30px; */
    }
    #carousel{
        width: 100%;
        height: auto;
    }
    
    #lost{
       display: none;
    }
    #lost+h3{
        display: none;
    }
    #companylogo{
        width: 100%;
    }
    #member{
        width: 100%;
        height: auto;
    }
    #member>div{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    #carouselmain{
        width: 100%;
        height: 100%;
    }
    .carouseldiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    .car{
        width: 100%;
    }
    #slider{
        display: none;
    }
}