*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#nav{
    width: 1582px;
    height: 80px;
}
#nav>img{
    width: 230.55px;
    height: 80px;
}
#main{
    width: 1583px;
    height: 475px;
    background-image: url(https://assets.loseit.com/website/onboarding/Wave.svg);
    /* display: flex; */
    justify-content: center;
    background-image: url(https://assets.loseit.com/website/onboarding/Wave.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% auto;
    background-position: bottom center;
    padding-bottom: 100px;
    height: 100vh;
}
.step{
    width: 580px;
    height: 600px;
    box-sizing: border-box;
    padding: 50px 40px;
}
#centre{
    width: auto;
    display: flex;
    margin-top: -30px;
    margin-left: 200px;
    
}
#stepp{
    color: #f7941d;
    font-family: Avenir,"Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 60px;
}
#stepimg{
    margin-top: 80px;
    height: 150px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    gap: 20px;
    color: grey;
}

#stepimg>div>img{
    width: 100px;
    height: 101.52px;
}
#boxform{
    width: 500px;
    height: 450px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    padding: 50px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
#boxform>p{
    font-size: 30px;
    font-family: Avenir,"Helvetica Neue", sans-serif;
    font-weight: 600;
    margin-bottom: 60px;
    color: #183962;
}
#boxform button{
    font-size: 20px;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    padding: 6px 12px;
    background-color: #f7941d;
    color: white;
    border: none;
    border-radius: 5px;
}


@media all and (min-width:1001px) and (max-width:1100px){
    #main{
        width: 100%;
        height: auto;
    }
    #nav{
        width: 100%;
    }
    #centre{
        position: relative;
        margin-left: 50px;
    }
    
}
@media all and (min-width:571px) and (max-width:1000px){
    #main{
        width: 100%;
        height: auto;
        text-align: center;
    }
    #nav{
        width: 100%;
    }
    #centre{
        position: relative;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }
    #stepimg{
        display: none;
    }
    #stepdiv{
        height: auto;
    }
}
@media all and (min-width:350px) and (max-width:571px){
    #main{
        width: 100%;
        height: auto;
        text-align: center;
    }
    #nav{
        width: 100%;
    }
    #centre{
        position: relative;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }
    #stepimg{
        display: none;
    }
    #stepdiv{
        height: auto;
    }
    .step{
        width: 100%;
    }
    #boxform{
        width: 100%;
    }
}