* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, Helvetica;
}

nav {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: white;
}

#logo {
    /* border: 1px solid #ff9400; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    font-family: "Open Sans", sans-serif;
}

#logo>img {
    width: 80px;
}

#logo>p {
    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    color: #183962;
}

#logo+button {
    padding: 10px 15px;
    background-color: #ff9400;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

/*! ==================navbar completed================== */


nav+div {
    position: relative;
    background-image: url('https://theme.zdassets.com/theme_assets/1847017/3a36a4299bfa0e82fb08b93a01df7eb872a94bea.jpg');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav+div::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 110, 160, 1);
    opacity: .5;
}

nav+div>div {
    z-index: 2;
    /* border: 1px solid #ff9400; */
    background: transparent;
    margin-top: 150px;
}

nav+div>div>h1 {
    text-align: center;
    color: #fff;
}

nav+div>div>h1+div {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

/* Search input box */
nav+div>div>h1+div>div {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    width: 550px;
    display: flex;
}

nav+div>div>h1+div>div>div:first-child {
    width: fit-content;
    padding-top: 4px;
}

nav+div>div>h1+div>div>input {
    font-size: 23px;
    padding: 5px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    width: 500px;
}

.material-symbols-outlined {
    color: gray;
    font-size: 25px;
    font-weight: bolder;
    margin: 5px 0px 0px 5px;
}

/* Search button */

nav+div>div>h1+div>button {
    color: #fff;
    background-color: #ff9400;
    border: none;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

/*! =====================top-potion complete===================== */




#svgs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

#svgs>div {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    line-height: 25px;
}




/*! ===============Knowledge_base section start=============== */
#knowledge_base {
    width: 100%;
}

#headingOfKB {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: #183962;
    margin: 20px 0;
}

.faq {
    width: 75%;
    margin: 10px auto;
    border: 2px solid #183962;
    border-radius: 5px;
}

.question {
    font-family: "Open Sans" sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 18px;
    font-weight: 400;
    color: #183962;
}

.question>span {
    cursor: pointer;
    color: #ff9400;
}

.answer {
    max-height: 0px;
    padding: -5px 10px 10px 20px;
    border-top: 2px solid #183962;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    overflow: hidden;
    transition: max-height 2s ease-out;
}

.material-symbols-outlined {
    transition: transform 600ms ease;
}

.active .answer {
    max-height: 1500px;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.active .material-symbols-outlined {
    transform: rotate(180deg);
}

.answer>div {
    padding: 10px;
}

.answer>div>p {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #506680;
    font-weight: 400;
    cursor: pointer;

}

.answer>div>p:hover {
    color: rgb(179, 104, 0)
}

.answer>div>a {
    font-family: "Open Sans" sans-serif;
    display: block;
    letter-spacing: 1px;
    line-height: 35px;
    color: #ff9400;
    text-decoration: none;
}

.answer>div>a:hover {
    color: rgb(179, 104, 0);
}

.answer>div>button {
    cursor: pointer;
    padding: 8px 14px;
    border: 2px solid #ff9400;
    border-radius: 5px;
    background-color: transparent;
    font-size: 12px;
    color: #ff9400;
    margin: 5px 0px;
}

/*! ====================Knowledge base part completed==================== */


#lookingFor {
    margin: 50px auto;
    width: 75%;
    border-radius: 5px;
    background-color: #183962;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    gap: 20px;
}

#lookingFor>h1 {
    font-weight: 400;
}

#lookingFor>button {
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #ff9400;
    color: #fff;
    ;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}

#footer {
    padding: 1% 12.5%;
    color: #373737;
}


/*! ======================== message part coming ======================== */

#message {
    position: relative;
    z-index: 5;
    overflow: hidden;
}

#message>div:first-child {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 45px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 2px;
}

#message>div:nth-child(2) {
    position: fixed;
    right: 20px;
    bottom: 70px;
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #183962;
    display: none;
    grid-template-rows: 20% 65% 15%;
}


#chat {
    padding: 0px 0px 4px 2px;
    height: 100%;
    width: 100%;
    background-color: #05438f;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#cross {
    fill: white;
    height: 100%;
    width: 100%;
    background-color: #ff9400;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


#message>div:nth-child(2)>div:first-child{
    background-color: #05438f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

#message>div:nth-child(2)>div:nth-child(2){
    background-color: #18396224;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden
}


#writeYourThoughts{
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

#writeYourThoughts>input{
    font-size: 20px;
    padding: 8px;
    border: none;
    outline: none;
}

#writeYourThoughts>div:last-child{
    background-color: #ff9400;
    display: flex;
    justify-content: center;
    align-items: center;
}


.myChat{
    background-color: #ffa220;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    margin: 8px 35px 0px 0px;
    animation: cameUpFromLeft 200ms cubic-bezier(0,.34,.18,.97);
}


.roboChat{
    background-color: #0769e0;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    margin: 8px 0px 0px 35px;
    animation: cameUpFromRight 400ms cubic-bezier(0,.34,.18,.97);
}

.roboChat>div>img{
    display: block;
    margin-inline: auto;
    height: 80px;
}

@keyframes cameUpFromLeft {
    0%{
        transform: translateX(-250px);
    }
    85%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}


@keyframes cameUpFromRight {
    0%{
        transform: translateX(250px);
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}




@media all and (max-width: 1024px) {

    nav+div>div>h1+div>div {
        margin: 20px auto;
        width: 85%;
        gap: 0px;
    }

    nav+div>div>h1+div>div>input {
        width: 85%;
    }

    nav+div>div>h1+div>button {
        display: none;
    }


    .faq {
        width: 90%;
    }

    .answer {
        grid-template-columns: repeat(2, 1fr);
    }

    #lookingFor {
        width: 90%;
    }

    #footer {
        padding: 1% 5%;
    }
}

@media all and (max-width: 678px) {
    nav {
        padding: 10px;
    }

    nav>button {
        display: none;
    }


    #lookingFor>h1 {
        font-size: 17px;
    }


    .answer {
        grid-template-columns: auto;
    }

    #message>div:nth-child(2) {
        right: 10px;
    }
}